<div class="modal fade none-border" id="actionAddedConfirmation">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <span style='color: white;'><strong>Data price list successfully added </strong></span> <i class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i></strong>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>