<div class="modal fade none-border" id="deleteEmployeeConfirmation">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"><strong>Delete Confirmation</strong></h2>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <span>Are you sure to delete this data ?</span>
            </div>
            <div class="modal-footer deleteEmployee">
               
            </div>
        </div>
    </div>
</div>